{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Employee name</th>
      <th>Position</th>
      <th>Quality rate</th>
      <th>Performance rate</th>
      <th>Efficiency rate</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Doe</td>
      <td>Software Validation Test Engineer</td>
      <td>0.67</td>
      <td>0.76</td>
      <td>1.43</td>
      <td><button type="button" class="btn btn-success disabled">Analyze</button></td>
    </tr>
    <tr>
      <td>Chris Taylor</td>
      <td>Software Engineer</td>
      <td>0.47</td>
      <td>0.83</td>
      <td>1.3</td>
      <td><button type="button" class="btn btn-success disabled">Analyze</button></td>
    </tr>
    <tr>
      <td>Sam Douglas</td>
      <td>Intern</td>
      <td>-0.2</td>
      <td>0.92</td>
      <td>0.72</td>
      <td><button type="button" class="btn btn-success disabled">Analyze</button></td>
    </tr>
  </tbody>
</table>
{% endblock %}