{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="loginPage">
  <div class="page-content-wrapper"> 
    <div id="pageContent">
      <img class="loginLogo" src="{% static 'images/logo.jpg' %}" width="50%" height="auto">
    <!-- <div class="well content logindiv"> -->
      <h1 id="header">Log in to QVPA*</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.u.id_for_label }}">Username:</label>
          <input type="text" class="form-control" id="{{ form.u.id_for_label }}" name="username">
        </div>
        <div class="form-group">
          <label for="{{ form.p.id_for_label }}">Password:</label>
          <input type="password" class="form-control" id="{{ form.p.id_for_label }}" name="password">
        </div>
        <div class="form-group buttons"> 
          <button type="submit" class="btn btn-success">Log in</button>
        </div>
      </form>
      <div class="note">
        <span class="vWord">* QVPA - Quality vs Performance Analyzer</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}