{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}

<!-- Content -->
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Список номинаций на игру. До начала игры он может дополняться и изменяться.</div>
    <div class="panel-body">
      <ol>
        <li>Маньяк <i>(первое место по числу убийств)</i></li>
        <li>Заместитель маньяка <i>(второе место по числу убийств)</i></li>
        <li>Ученик маньяка <i>(третье место по числу убийств)</i></li>
        <li>Живчик <i>(выживший и убивший максимальное число человек)</i></li>
        <li>Первая кровь <i>(первый убивший)</i></li>
        <li>Лучшая фотография с игры <i>(прикреплять с подписями на <a href="https://vk.com/itmm_ss?w=wall-100254916_1486">страницу комментариев</a>)</i></li>
        <li>Лучшее видео убийства <i>(прикреплять с подписями на <a href="https://vk.com/itmm_ss?w=wall-100254916_1486">страницу комментариев</a>)</i></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}