{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}

<!-- Content -->
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Описание игры</div>
    <div class="panel-body"><p>Игра, в которой участник может побывать в роли жертвы и охотника!</p>

<p>Ты - киллер-наемник, который чётко следует приказам, незаметно избавляется от цели и ищет новую жертву.
    Детский игрушечный молоточек - твой единственный инструмент, фото и телефон жертвы - единственная достоверная информация.
    Твоя задача - выжить как можно дольше и сражаться с такими же профессионалами,как и ты сам.</p>

<p>Сможешь ли ты уничтожать своих друзей и однокурсников, ради победы?
    Хватит ли тебе твоей сноровки, хитрости и желания выжить, чтобы победить в этой безумной игре?
    Сможешь ли ты быть охотником и жертвой одновременно?</p>
</div>
  </div>
<hr>
  <div class="panel panel-primary">
    <div class="panel-heading">Требования к участникам</div>
    <div class="panel-body"><ul>
    <li>Студент или преподаватель Института Информационных Технологий Математики и Механики (ИИТММ) </li>
    <li>Необходимо зарегистрироваться до 16 сентября 23:59 на этом сайте-движке.</li>
    <li>Наличия оружия - пластмассового пищащего молоточка (<b>или меча, или лука</b>) из детского магазина. Оружие входит в игровой взнос, но, если у Вас он уже есть, то для Вас игра дешевле на 50 рублей.</li>
    <li>ОБЯЗАТЕЛЬНО нужно носить с собой фотографию своей жертвы до конца игры.</li>
</ul></div>
  </div>
<hr>
  <div class="panel panel-primary">
    <div class="panel-heading">Правила игры(коротко)</div>
    <div class="panel-body"><p><i>У тебя есть фотография твоей жертвы и её телефон. Ты должен найти её и убить легким ударом молоточка по любой части тела. Убитый участник должен отдать тебе фотографию своей последней жертвы. Человек на фотографии - твоя новая жертва.</i></p>
<p>Побеждает тот, кто собрал больше всего трофеев и остался живым. Также в игре предусмотрено несколько специальных номинаций за фото и видеосъемку процесса убийства! Не упусти своего шанса показать другим, что ты лучший!</p>
<p>Помни, что жертва отдаст тебе фотографию только когда удостовериться, что она именно твоя жертва!</p></div>
  </div>
<hr>
  <div class="panel panel-primary">
    <div class="panel-heading">Правила игры(подробно)</div>
    <div class="panel-body"><ol>
    <li>Игра проходит с <b>18-го сентября по 27-е сентября</b> (10 дней).</li>
    <li><b>18-го сентября в холле третьего этажа второго корпуса c 8:00 до 13:00</b> все фотографии и оружие раздаются организаторами игры участникам. <b>Там же можно оплатить игровой взнос 100 рублей (50 рублей при предъявлении своего молоточка).</b>
    <li><b>С 18-го сентября 14:00</b>, все, кто получил фотографию другого участника является киллером. Фотография у вас на руках - ваша жертва. Цель игры - "убить" свою жертву и "остаться в живых".</li>
    <li>"Убийство" жертвы может быть совершено только лёгким ударом по любой части тела жертвы пластмассовым пищащим молоточком из детского магазина (<b>или мечом, или луком</b>) и только им.</li>
    <li>"Убитый" участник обязан отдать фотографию последней своей жертвы своему убийце после того, как удостоверится, что он был его жертвой.</li>
    <li>Участник игры обязан носить с собой фотографию жертвы до конца игры.</li>
    <li>Запрещается "убивать" не свою жертву.</li>
    <li>После "убийства" киллер забирает у "убитого" фотографию своей новой жертвы и охотится за ней.</li>
    <li>"Убийства" можно совершать где угодно.</li>
    <li>Подведение итогов состоится 28 сентября</li>
    <li>По любым спорным вопросам в игре, участники могут звонить организаторам (+79200597219, Тася) или <a href="https://vk.com/im?sel=-100254916">писать сообщения</a> в группу Студенческого Совета ИИТММ вконтакте.</li>
</ol></div>
  </div>
</div>
{% endblock %}