{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}
<!-- Content -->
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Статистика по игре</div>
    <div class="panel-body">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Информация об участнике</th>
    <th>Жив ли участник?</th>
    <th>Количество убитых</th>
  </tr>
  </thead>
  <tbody>
  {% for killer in killers %}
  <tr>
    <td>{% if killer.get_status == 'Жив' %}Киллер №{{killer.id}}{% else %}{{ killer.get_user_info }}{% endif %}</td>
    <td>{{ killer.get_status }}</td>
    <td>{{ killer.get_kills }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  </div>
  </div>
</div>
{% endblock %}